@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Montserrat&family=Zen+Antique&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dropdown:hover .dropdown-menu {
  display: block;
  }

.dropdown:hover{
  background-color: rgb(112, 111, 111);
}
#nav1{
  margin-left: 500px;
}
#nav2{
  margin-left: 100px;
}
#btn1{
  border-radius: 17px;
  margin-left: 15px;
}
#mainTxt{
  font-family: 'Montserrat', sans-serif;
}
#scndTxt{
  font-family: 'Damion', cursive;
  font-size: 2.8rem;
  margin-top: -11px;
}
.btn-link{
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 21px;
  padding: 0px 25px;
  color: black;
  font-weight: bold;
}
.btn-link:hover{
  border-bottom: 3px solid black;
  color: black;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.searchBox{
  margin-top: 20px;
  border: 1px solid black;
  height: 57px;
  width: 85vh;
  border-radius: 30px;
}
.items{
  margin-top: 15px;
  margin-left: 12px ;
}
